registry=https://registry.npmjs.org
prefer-workspace-packages=true
public-hoist-pattern[]=*rollup*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=@tarojs/*
public-hoist-pattern[]=react*
public-hoist-pattern[]=*typescript*
public-hoist-pattern[]=sass
public-hoist-pattern[]=*vite*
public-hoist-pattern[]=*swc*
public-hoist-pattern[]=@types/*
